@forward  './Hero/_hero';
@forward  './Dawer/_dawer';
@forward  './Container/_containerFluid';
@forward  './Container/_container';
@forward './Navbar/_navbar';
@forward  './section2/_section2';
@forward  './Stuff/_mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
*,::after,::before{
font-family: 'Roboto', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;

}